apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: ghcr.io/irio-org/trading-system/worker:latest
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: trading-system-config