name: PR checks
on: pull_request
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build all Bazel packages
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: bazel-contrib/setup-bazel@0.16.0
      - name: Prepare credentials to GCP Bazel Cache Bucket
        uses: 'google-github-actions/auth@v3'
        with:
          credentials_json: '${{ secrets.GCP_BAZEL_CACHE_KEY }}'
      - run: |
          bazel build //... \
            --remote_cache=https://storage.googleapis.com/irio-gh-actions-cache \
            --google_default_credentials \
            --remote_download_toplevel

  check-formatting:
    name: Check code formatting
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Check Go formatting
        run: ./go_format_check.sh
      - name: Install clang-format
        run: sudo apt-get update && sudo apt-get install -y clang-format
      - name: Check Protobuf formatting
        run: |
          if [ -d "./proto" ]; then
            find ./proto -name "*.proto" -exec clang-format --Werror --dry-run --style=Google {} +
          else
            echo "Directory ./proto not found, skipping format check."
          fi

