name: PR checks
on: pull_request
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build all Bazel packages
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: bazel-contrib/setup-bazel@0.16.0
      - run: |
          bazel build //...

  check-formatting:
    name: Check code formatting
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Check Go formatting
        run: ./go_format_check.sh
      - name: Install clang-format
        run: sudo apt-get update && sudo apt-get install -y clang-format
      - name: Check Protobuf formatting
        run: |
          if [ -d "./proto" ]; then
            find ./proto -name "*.proto" -exec clang-format --Werror --dry-run --style=Google {} +
          else
            echo "Directory ./proto not found, skipping format check."
          fi

